.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.messageTop{
    display: flex;
}
.conversationName {
  font-weight: 500;
   font-size:20px;
}
.reactButton{
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}
.conversationImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}


.reactButton:hover{
    transform: scale(1.1);
}

.reacts-container{
    display: flex;
    float:right;
    margin-top: 7px;
    margin-right: 10px;
}
.reacts-container-left{
    display: flex;
    float:left;
    margin-top: 7px;
    margin-right: 10px;
}

.hidden{
    display: none;
}

.reacts-container img{
    height:25px;
    width:25px;
    cursor: pointer;
}

.reacts-container-left img{
    height:25px;
    width:25px;
    cursor: pointer;
}

.single-react-container{
    margin-left: 10px;
}

.react-label{

    font-weight: bold;
    margin-top: -24px;
    font-size: 2em;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.bg{
    background-color: #42b72a;
}

.messages-container{
    background: white;
    background-image: radial-gradient(#0090ff 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -19px -19px;
    height:calc(100vh - 122px);
    margin-top: -24px;
    overflow-x:scroll;
    overflow-x: hidden;
    margin-left: 295px;
    margin-right: 295px;
}

@media only screen and (max-width: 600px) {
    .messages-container{
        margin-left: -25px;
        margin-right: -25px;
    }
}

.reply,.reply-own{
    margin-top: 4px;
    max-width:300px;
    border-radius: 8px;
    background-color: #f0f2f5;
    color: cornflowerblue;
    padding:10px;
}

.reply-own{

    text-align: right;
}

.reply{

    text-align: left;
}

.reply-btn{
    transform: translateY(30px);
    cursor: pointer;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}
.seen-own{

margin-top: -10px;
    color: gray;
margin-left:42px;
}
.seen{

margin-top: -10px;
    color: gray;

}
.seen.own{

margin-top: -10px;
color: gray;
margin-left:500px;

}
