.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop{
    display: flex;
}

.reactButton{
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}
.conversationImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}


.reactButton:hover{
    transform: scale(1.1);
}

.reacts-container{
    display: flex;

}

.hidden{
    display: none;
}

.reacts-container img{
    height:25px;
    width:25px;
    cursor: pointer;
}

.single-react-container{
    margin-left: 10px;
}

.react-label{

    font-weight: bold;
    margin-top: -24px;
    font-size: 2em;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}
.seen-own{

margin-top: -10px;
    color: gray;
margin-left:42px;
}
.seen{

margin-top: -10px;
    color: gray;

}
.seen.own{

margin-top: -10px;
color: gray;
margin-left:500px;

}
